/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {


 position:relative;
 right: 20px;
width:250px; 
}

input[type="date"][placeholder]{
    
  
    border: 1px solid grey;
   
    color: transparent;
    width: 149px;
  }

  input[type="date"][value] {
  
    border: 1px solid grey;
   
    width: 149px;
  } */