tbody {}

tbody tr {
    border-bottom: solid thin;
}

tbody tr:hover {
    background: #f6f6f6;
}

tbody tr td {
    font-weight: thin;
    padding: 0.5rem;
}

tbody tr:nth-of-type(odd) td:nth-of-type(1) {
    background: #f1f1f1;
}
 .dataTables_empty {
    background: white!important;
    text-align: center;
}